<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Poem</title>
<style>
    body {
        font-family: Arial, sans-serif;

        margin: 0;
        padding: 0;
        background-image: url("/images/logo.png");
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        background-color:#B6E2D3 ;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-family: cursive;
        color: #344955;
    }
    h3 {
        text-align: center;
        margin-bottom: 20px;
        font-family: cursive;
        color: #344955;
    }


    .form-group {
        margin-bottom: 20px;
        padding-right: 10px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #344955;
        border-radius: 5px;
    }

    textarea {
        resize: vertical;
        min-height: 100px;
    }

    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #344955;
        color: #fff;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #B6E2D3;
    }
</style>
</head>
<body>
    <div class="container">

        <h1>Share Your Poem</h1>
<h3>(Share your poem in image format)</h3>
        <form action ="/post" method="post">
            <div class="form-group">
                <label for="topic">Title of the poem</label>
                <input type="text" id="name" name="topic" required>
            </div>
            <div class="form-group">
     <label for="image">Upload Image</label>
              <input type="file" id="image" name="image" value="" required />

            </div>
            <div class="form-group">

  <label for="body">Description about your poem</label>
  <textarea name="body" rows="8" cols="80"></textarea>
            </div>
 <div class="form-group">
                <label for="topic">Writer's Name</label>
                <input type="text" id="name" name="auth" required>
            </div>
            <div class="form-group">
              <label for="cat">Category</label>
              <select name="category" id="">
                <option value="" disabled selected hidden>Select Category</option>
                    <option value="love">Love</option>
                    <option value="life">Life</option>
                    <option value="sad">Sad</option>
                    <option value="motivational">Motivational</option>
                    <option value="nature">Nature</option>

                </select>
                       </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</body>
</html>
